.container-fluid
  .logo.pull-left
    %h1 betaNYC
    =image_tag "logo.png"
  .mission
    %h2 beta NYC cares about open gov
    %ul
      %li we code about it
      %li we write about it
      %li we get together and talk about it
    %h2 you should join us