.navbar
  .navbar-inner
    %ul.nav
      %li 
        =link_to 'About', about_path
      %li
        =link_to "Projects", projects_path
      %li
        =link_to "Events", events_path
      %li
        =link_to "Volunteer", volunteer_path
      %li
        =link_to "Beta Brigade", users_path