=image_tag("email-48.png", :class=>"red", :href=>"mailto:opennyforum@gmail.com")
=image_tag("facebook-48.png", :class=>"blue", :href=>"https://www.facebook.com/OpenNYforum")
=image_tag("twitter-48.png", :class=>"grey", :href=>"https://twitter.com/OpenNYforum")
=image_tag("github-48.png", :class=>"red", :href=>"https://github.com/openNY/")
