=link_to(image_tag("email-48.png", :class=>"red"), "mailto:betanyc@gmail.com")
=link_to(image_tag("facebook-48.png", :class=>"blue"), "https://www.facebook.com/OpenNYforum")
=link_to(image_tag("twitter-48.png", :class=>"grey"), "https://twitter.com/OpenNYforum")
=link_to(image_tag("github-48.png", :class=>"red"), "https://github.com/openNY/")
