.main
  .mainheader
    =link_to "View Events on Github", "http://www.github.com/openny/", {:class=>"btn-blue pull-right"}
    %h1 Brigade Projects
  .maininner
    = will_paginate
    %ul
      = render @projects
    = will_paginate
